<html>
<head>

</head>

<body>

    <svg width="750" height="750" style="background-color:rgba(200,200,200, 0.5)">
        <!-- Corps de la chenille -->
        <circle style="fill:rgb(0, 255, 208); stroke:black; stroke-width: 3px;" cx="292" cy="580" r="60" />
        <circle style="fill:rgb(255, 234, 0); stroke:black; stroke-width: 3px;" cx="414" cy="570" r="60" />
        <circle style="fill:rgb(81, 65, 108); stroke:black; stroke-width: 3px;" cx="534" cy="590" r="60" />
        <circle style="fill:#b534e0; stroke:black; stroke-width: 3px;" cx="585" cy="480" r="60" />
        <circle style="fill:rgb(211, 0, 91); stroke:black; stroke-width: 3px;" cx="514" cy="380" r="60" />
        <circle style="fill:rgb(255, 89, 0); stroke:black; stroke-width: 3px;" cx="395" cy="350" r="60" />
        <circle style="fill:rgb(0, 255, 0); stroke:black; stroke-width: 3px;" cx="274" cy="370" r="60" />
        
        <circle style="fill:rgb(102, 255, 204); stroke:black; stroke-width: 3px;" cx="145" cy="340" r="70" />
        <circle style="fill:white; stroke:black; stroke-width: 2px;" cx="165" cy="320" r="10" />
        <circle style="fill:white; stroke:black; stroke-width: 2px;" cx="125" cy="320" r="10" />
        <circle style="fill:black;" cx="128" cy="320" r="5" />
        <circle style="fill:black;" cx="168" cy="320" r="5" />
        <circle style="fill:white; stroke:black; stroke-width: 2px;" cx="145" cy="350" r="5" />
        <!-- Sourire -->
        <path d="M110,370 Q140,410 180,370" style="fill:none; stroke:black; stroke-width: 3px;" />
    
        <!-- Antennes -->
        <circle style="fill:white; stroke:black; stroke-width: 2px;" cx="115" cy="280" r="8" />
        <circle style="fill:white; stroke:black; stroke-width: 2px;" cx="110" cy="265" r="8" />
        <circle style="fill:white; stroke:black; stroke-width: 2px;" cx="105" cy="249" r="8" />
        <circle style="fill:white; stroke:black; stroke-width: 2px;" cx="175" cy="280" r="8" />
        <circle style="fill:white; stroke:black; stroke-width: 2px;" cx="180" cy="265" r="8" />
        <circle style="fill:white; stroke:black; stroke-width: 2px;" cx="185" cy="248" r="8" />
        <circle style="fill:white; stroke:black; stroke-width: 2px;" cx="145" cy="2555" r="8" />
                                                                            -50 +64 +26 +76
        <!-- Pattes de la chenille -->
        <circle style="fill:white; stroke:black; stroke-width: 2px;" cx="224" cy="434" r="20"/>
        <circle style="fill:white; stroke:black; stroke-width: 2px;" cx="300" cy="446" r="20"/>
        
        <circle style="fill:white; stroke:black; stroke-width: 2px;" cx="345" cy="414" r="20"/>
        <circle style="fill:white; stroke:black; stroke-width: 2px;" cx="421" cy="426" r="20"/>
        
        <circle style="fill:white; stroke:black; stroke-width: 2px;" cx="464" cy="444" r="20"/>
        <circle style="fill:white; stroke:black; stroke-width: 2px;" cx="540" cy="456" r="20"/>
        
        <circle style="fill:white; stroke:black; stroke-width: 2px;" cx="535" cy="544" r="20"/>
        <circle style="fill:white; stroke:black; stroke-width: 2px;" cx="611" cy="556" r="20"/>

        <circle style="fill:white; stroke:black; stroke-width: 2px;" cx="484" cy="654" r="20"/>
        <circle style="fill:white; stroke:black; stroke-width: 2px;" cx="560" cy="666" r="20"/>
        
        <circle style="fill:white; stroke:black; stroke-width: 2px;" cx="364" cy="634" r="20"/>
        <circle style="fill:white; stroke:black; stroke-width: 2px;" cx="440" cy="646" r="20"/>

        <circle style="fill:white; stroke:black; stroke-width: 2px;" cx="242" cy="644" r="20"/>
        <circle style="fill:white; stroke:black; stroke-width: 2px;" cx="318" cy="656" r="20"/>
        

    </svg>
    

</body>
</html>