<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV - BLANEUS Velain</title>
    <style>
        body { font-family: Arial, sans-serif; }
        table { width: 80%; border-collapse: collapse; margin: 20px auto; }
        th, td { border: 1px solid black; padding: 8px; text-align: left; }
        h2 { text-align: center; }
        a {border-radius: 50%;}
    </style>
</head>
<body>
    <h2><img src="/static/images/photoID.jpg" width: 20%; height: 20%;>BLANEUS Velain</h2>
    <table>
        <tr><td colspan="2"><strong>Prénom :</strong> Velain</td></tr>
        <tr><td colspan="2"><strong>Nom :</strong> BLANEUS</td></tr>
        <tr><td colspan="2"><strong>Adresse :</strong> Paris, Île-de-France</td></tr>
        <tr><td colspan="2"><strong>Mobile :</strong> 07 68 53 97 24</td></tr>
        <tr><td colspan="2"><strong>Email :</strong> vl.blaneus@gmail.com</td></tr>
    </table>
    
    <h2>Formation</h2>
    <table>
        <tr><th>Année</th><th>Description</th></tr>
        <tr><td>&#8226; 2023-2024</td><td>1ère année Ingénieur informatique, ESIEA</td></tr>
        <tr><td>&#8226; 2020-2022</td><td>BTS Système Numérique, Lycée Paul Eluard</td></tr>
    </table>
    
    <h2>Expérience Professionnelle</h2>
    <table>
        <tr><th>Année</th><th>Description</th></tr>
        <tr><td>&#8226; 2024-présent</td><td>Technicien Support Informatique, Up Skills IDF</td></tr>
        <tr><td>&#8226; 2023-2024</td><td>Alternant QA Embarquée, IDEMIA Secure Transactions</td></tr>
        <tr><td>&#8226; 2023</td><td>Technicien Support Informatique, Transitions Pro IDF</td></tr>
    </table>
    
    <h2>Compétences</h2>
    <table>
        <tr><td colspan="2">Programmation : JAVA, Python, Bash</td></tr>
        <tr><td colspan="2">Base de Données : SQL</td></tr>
        <tr><td colspan="2">Cloud : Active Directory, Intune</td></tr>
        <tr><td colspan="2">Langues : Français, Anglais B2, Créole Haïtien</td></tr>
    </table>
    
    <h2>Informations Complémentaires</h2>
    <table>
        <tr><td colspan="2">Football, Athlétisme, Rugby, Animation japonaise, Piano</td></tr>
    </table>
</body>
</html>
