<html>
<head>

</head>

<body>

<svg width="750" height="750" style="background-color:	rgba(200,200,200, 0.5)">
<circle id="foo" style="fill:yellow;" cx="660" cy="80" r="60" />
<rect style="fill:green;" x="10" y="600" width="690" height="50" />
<rect style="fill:rgb(211, 162, 0);" x="180" y="350" width="300" height="250" />
<rect style="fill:rgb(211, 39, 0);" x="370" y="420" width="90" height="180" />
<g transform="translate(150,250)">
    <polygon style="fill:rgb(128, 0, 0);" points="190 30, 370 100, 0 100"/>
</g>
</svg>

</body>
</html>