<html>
<head>
<meta charset="UTF-8"/>
<title>TP Page 2</title>
<style>
</style>
</head>
<body>

<table border="2">
    <tr >
        <td style="width: 280px">Jour</td>
        <td style="width: 280px">Lundi</td>
        <td style="width: 280px">Mardi</td>
    </tr>
    <tr>
        <td>Après-midi</td>
        <td>Michel</td>
        <td>Paul</td>
    </tr>
</table>

<p>Une liste</p>
<ol>
    <li>premier point
        <ul>
            <li>rubrique 1</li>
            <li>rubrique 2</li>
        </ul>
    <li>2e point</li>
    <li>3e point
        <ul>
            <li>rubrique 1</li>
            <li>rubrique 2</li>
        </ul>
</ol>

<table border="2">
    <tr >
        <td style="width: 180px">Un autre tableau</td>
        <td style="width: 180px"></td>
        <td style="width: 180px"></td>
        <td style="width: 180px"></td>
    </tr>
    <tr>
        <td>Après-midi</td>
        <td>
            <table border="1">
              <tr>
                <td style="height: 25px; width: 180px"></td>
              </tr>  
              <tr>
                <td style="height: 25px; width: 180px"></td>
              </tr> 
              <tr>
                <td style="height: 25px; width: 180px"></td>
              </tr>  
            </table>
        </td>
        <td></td>
        <td>
            <table border="1">
              <tr>
                <td style="height: 25px; width: 90px"><td style="height: 25px; width: 90px"></td></td>
              </tr>  
          </table>
        </td>
    </tr>
</table>

</body>
</html>